<div class="container mt-5">
    <!--Creation Navbar in list member-->
    <app-navbar (filter)="dataSearch($event)"></app-navbar> 
     
    <div class="row mt-2">
      <div class="col">      
           
        <div class="col-lg-12" style="background-color:#2e2e3a; border:solid 0.1rem;border-radius:5%">
          <br>
       

          <div>
              <p class="display-6 text-capitalize text-light">Aranzazu</p>
              <div class="text-center">
                  <img src="/assets/img/aranzazu.png">
              </div>
              <br>
              <p class="display-6 text-capitalize text-light">La ruta</p>
              <br>
              <div class="text-center">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d63572.416819281185!2d-75.55781253700971!3d5.21925815731237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x8e476d8c1609d1d5%3A0xa916909b41f361a8!2sNeira%2C%20Caldas!3m2!1d5.1664404!2d-75.5205472!4m5!1s0x8e47125045d7d6ad%3A0xeb7eb7e802138538!2sAranzazu%2C%20Caldas%2C%20Aranzazu%2C%20Caldas!3m2!1d5.271896!2d-75.490582!5e0!3m2!1ses!2sco!4v1632702912656!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>
          </div>
      </div>
      
    
      </div>      
    </div>
</div>



