<div class="container mt-5">
    <!--Creation Navbar in list member-->
    <app-navbar></app-navbar>
    <div class="col-lg-4 offset-lg-4">
        <!--Houses that were found are listed-->
        <div class="row mt-4">
            <div class="col-lg-12">
                <h3 class="title mt-3">Seleccionar Recorrido</h3>
                <select name="miselect" [(ngModel)]="selectHouse" class=" form-select-lg  col-lg-12">
                    <option>{{selectHouse}}</option>
                    <option [value]="item" *ngFor="let item of listHouse" [ngValue]="item">{{item}}</option>
                    </select>
                <div class="text-center mt-1" *ngIf="selectNotHouse">
                    <span class="badge bg-danger text-center">select a house</span>
                </div>
                <div>
                    <button (click)="getAllListMemberHouse()" type="button" class="form-control btn btn-secondary btn-xs mt-4">Buscar Recorrido</button>
                </div>
            </div>
        </div>
        <!--Create in loading.....-->
        <app-spinner *ngIf="loading"></app-spinner>
    </div>
    <hr>
    <div class="container-fluid" style="background-color">
        <div class="col-lg-12">
            <p class="display-4 text-dark text-capitalize text-center">Ruta de la arriería</p>
            <p class="display-6 text-dark text-capitalize text-center">Neira – Aranzazu – Salamina – Pácora – Aguadas</p>
            
            <br/>
            
            <div class="col-lg-12" style="background-color:#2e2e3a; border:solid 0.1rem;border-radius:5%">
                <br>
                <div>
                    <p class="display-6 text-capitalize text-light">Neira</p>
                    <div class="text-center">
                        <img src="/assets/img/neira.png">
                    </div>
                    <br>
                    <p class="display-6 text-capitalize text-light">La ruta</p>
                    <br>
                    <div class="text-center">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d63582.9630794202!2d-75.54253198705021!3d5.114147690807532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x8e476ffa6a42ce3b%3A0xa863cf6423ea141c!2sManizales%2C%20Caldas!3m2!1d5.0629743!2d-75.5027698!4m5!1s0x8e476d8c1609d1d5%3A0xa916909b41f361a8!2sNeira%2C%20Caldas%2C%20Neira%2C%20Caldas!3m2!1d5.1664404!2d-75.5205472!5e0!3m2!1ses!2sco!4v1632702337529!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>

                <div>
                    <p class="display-6 text-capitalize text-light">Aranzazu</p>
                    <div class="text-center">
                        <img src="/assets/img/aranzazu.png">
                    </div>
                    <br>
                    <p class="display-6 text-capitalize text-light">La ruta</p>
                    <br>
                    <div class="text-center">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d63572.416819281185!2d-75.55781253700971!3d5.21925815731237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x8e476d8c1609d1d5%3A0xa916909b41f361a8!2sNeira%2C%20Caldas!3m2!1d5.1664404!2d-75.5205472!4m5!1s0x8e47125045d7d6ad%3A0xeb7eb7e802138538!2sAranzazu%2C%20Caldas%2C%20Aranzazu%2C%20Caldas!3m2!1d5.271896!2d-75.490582!5e0!3m2!1ses!2sco!4v1632702912656!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>

                <div>
                    <p class="display-6 text-capitalize text-light">Salamina</p>
                    <div class="text-center">
                        <img src="/assets/img/salamina.png">
                    </div>
                    <br>
                    <p class="display-6 text-capitalize text-light">La ruta</p>
                    <br>
                    <div class="text-center">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d127120.6254611241!2d-75.56205821469446!3d5.337351210185984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x8e47125045d7d6ad%3A0xeb7eb7e802138538!2sAranzazu%2C%20Caldas!3m2!1d5.271896!2d-75.490582!4m5!1s0x8e471af371857471%3A0x614e9c93cf568f6e!2sSalamina%2C%20Caldas!3m2!1d5.402354!2d-75.486468!5e0!3m2!1ses!2sco!4v1632703412576!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>                    </div>
                </div>
            </div>
            
            
        </div>

    </div>


</div>