body {
    background: #FBFBFD;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #757F9A, #757F9A);
    /* Chrome 10-25, Safari 5.1-6 */
}

.title {
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    text-align: left;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}